.container {
    padding: 8px;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
    text-align: center;
  }
  
  .form {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 50px 0;
  }
  
  .form button {
    padding: 8px 17px;
    border: 0;
    color: #fff;
    background: #265265;
    cursor: pointer;
  }
  
  .form button:hover {
    background: #1e3d4b;
  }

  .form button:disabled {
    opacity: 50%;
    pointer-events: none;
  }

  .result-container {
      padding: 20px;
      border: 1px solid #265265;
      text-align: left;
  }